<h2>Create a New Coffee Log</h2>

<img style="float: right; margin: 0px 15px 15px 15px;" src="https://cdn.shopify.com/s/files/1/0187/0338/files/extraction_solutions_chart.jpg?v=1593186857" width="390" />
<img style="float: right; margin: 0px 0px 15px 15px;" src="https://cdn.shopify.com/s/files/1/0187/0338/files/extraction_symptoms_chart.jpg?v=1593186777" width="390" />

<form action="/coffees" method="post" class="form">
    <p><label for="name">Name:</label>
    <input type="text" name="name"/>

    <label for="name">Roaster:</label>
    <input type="text" name="roaster"/>

    <label for="name">Producer:</label>
    <input type="text" name="producer"/>

    <label for="name">Variety:</label>
    <input type="text" name="variety"/>

    <label for="name">Process:</label>
    <input type="text" name="process"/>

    <label for="name">Notes:</label>
    <textarea name="notes" rows="7" cols="19"></textarea></p>
    
    <p><input type="submit" value="Submit New Coffee Log"/></p>
</form>
    
    <p><a href="/coffees"><button id ="new_button">See All Coffee Logs</button></a></p>

