<h2>Create a New Coffee Log</h2>

<img style="float: right; margin: 0px 15px 5px 5px;" src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yMzIxNjQ2My9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY3Njk4Mjg3MX0.4D2MPJW7OJI2KyBWOKAI72HnvEi9IAN5Y01-r60YhB4/img.jpg?width=1200&coordinates=0%2C1066%2C0%2C1066&height=600" width="870" />

<form action="/coffees" method="post" class="form">
    <p><label for="name">Name:</label>
    <input type="text" name="name"/>
    <br>

    <label for="name">Roaster:</label>
    <input type="text" name="roaster"/>
    <br>

    <label for="name">Producer:</label>
    <input type="text" name="producer"/>
    <br>

    <label for="name">Variety:</label>
    <input type="text" name="variety"/>
    <br>

    <label for="name">Process:</label>
    <input type="text" name="process"/>
    <br>

    <label for="name">Notes:</label>
    <textarea name="notes" rows="4" cols="19"></textarea></p>
    <br>
    <br>
    <br>

    <p><input type="submit" value="Submit New Coffee Log"/></p>
</form>
    <br>
    <p><a href="/coffees"><button id ="new_button">See All Coffee Logs</button></a></p>

