<h1>Create a New Coffee Log</h1>

<form action="/coffees" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name"/>
    <br>

    <label for="name">Roaster:</label>
    <input type="text" name="roaster"/>
    <br>

    <label for="name">Producer:</label>
    <input type="text" name="producer"/>
    <br>

    <label for="name">Variety:</label>
    <input type="text" name="variety"/>
    <br>

    <label for="name">Process:</label>
    <input type="text" name="process"/>
    <br>

    <label for="name">Notes:</label>
    <textarea name="notes"></textarea>

    <p><input type="submit" value="Create New Coffee Log"/></p>
</form>