<h2 class="aligncenter">Login</h2>

<p class="aligncenter">
    <img src="https://media.istockphoto.com/photos/panoramic-coffee-beans-background-border-picture-id1128922640?k=6&m=1128922640&s=170667a&w=0&h=OouvaGU8pBXHbNAXG6bis2fqDWT5BtDpmD8kUboJuQE=" />
</p>

<form style="text-align:center;" action="/login" method="post">

    <p><label for="name">Username:</label>
    <input type="text" name="username" id="name"/>
    

    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>

    <input type="submit" value="Login"/></p>
</form>
