<h2>Sign Up For The Coffee Tasting Journal</h2>

<img style="float: right; margin: 0px 0px 15px 15px;" src="https://images.unsplash.com/photo-1510922903530-28ecf3f00362?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29mZmVlJTIwam91cm5hbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" width="330" />

<form action="/signup" method="post">

    <p><label for="first_name">First Name: </label>
    <input type="text" name="first_name" id="first_name">
    <br>
    <br>

    <label for="last_name">Last Name: </label>
    <input type="text" name="last_name" id="last_name"/>
    <br>
    <br>

    <label for="name">Username:</label>
    <input type="text" name="username" id="name"/>
    <br>
    <br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email"/>
    <br>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    <br>
    <br>

    <input type="submit" value="Sign Up"/></p>
</form>
