<div class="signup">
  <div class="signup__text">
    <h2>Sign Up</h2>
        <form action="/signup" method="post" class="form">

            <p><label for="first_name">First Name: </label>
            <input type="text" name="first_name"/>
            <br>

            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name"/>
            <br>

            <label for="name">Username:</label>
            <input type="text" name="username"/>
            <br>

            <label for="email">Email:</label>
            <input type="email" name="email"/>
            <br>

            <label for="password">Password:</label>
            <input type="password" name="password"/>
            <br>

            <input type="submit" value="Sign Up"/></p>
            <br>
            <br>
            <br>
        </form>
    </div>
    <img id="signup_image" src="https://ssmscdn.yp.ca/image/resize/0c5ec8af-818e-4cf7-91d2-2dab1cfa4c13_pl-landscape.jpg" />
</div>
