<div class="home">
  <h2>Welcome to the Coffee Tasting Journal</h2>
  <h3>A Sinatra based application for keeping track of your favorite coffee cuppings!</h3>
  <h6>This journal is designed for ease of use.  It provides a simple and speedy way to track and log coffee</h6>
  <h6>varieties online.  Access it anytime, anywhere, as long as you have wifi or data reception.</h6>
  <img src="https://res.cloudinary.com/sagacity/image/upload/c_crop,h_773,w_1958,x_21,y_0/c_limit,w_1080/v1436376953/coffee-brewing-type_mticky.jpg" alt="Coffee Brewing Methods">
  <br>
  <br>
</div>
