<div class="container">
 <div style="text-align: center;">

    <h1>Welcome to the Coffee Tasting Journal</h1>
    <h2>A Sinatra based application for keeping track of your favorite coffee cuppings!</h2>
    <h3>This journal is designed for ease of use.  It provides a simple and speedy way to record coffee tasting</h3>
    <h3>notes on an online format.  Access it anytime, anywhere, as long as you have wifi or data reception.</h3>

    <p><a href="/signup"><button>Signup</button></a></p>
    <p><a href="/login"><button>Login</button></a></p>

  </div>
</div>
